@using System.Globalization
@using System.Text.Json
@model SaxxPv.Web.ViewModels.Home.DayViewModel

<div id="productionChart" style="height:400px;"></div>
<script>
    const options = {
        "grid": {
            "left": 40,
            "top": 25,
            "right": 40,
            "bottom": 20
        },
        "xAxis": {
            "type": "category",
            "data": @Html.Raw(JsonSerializer.Serialize(Model.ChartTimes))
        },
        "yAxis": [
            {
                type: "value",
                axisLabel: {
                    formatter: "{value}"
                }
            },
            {
                type: "value",
                axisLabel: {
                    formatter: "{value}%"
                }
            }
        ],
        "series": [{
            "data": @Html.Raw(JsonSerializer.Serialize(Model.ChartPv)),
            "type": "line",
            "smooth": true,
            "showSymbol": false,
            "lineStyle": {
                "width": 0
            },
            "areaStyle": {
                "color": "#7bc043",
                "opacity": 0.5
            }
        }, {
            "data": @Html.Raw(JsonSerializer.Serialize(Model.ChartLoad)),
            "type": "line",
            "smooth": true,
            "showSymbol": false,
            "lineStyle": {
                "width": 0
            },
            "areaStyle": {
                "color": "#ee4035",
                "opacity": 0.5
            }
        }, {
            "data": @Html.Raw(JsonSerializer.Serialize(Model.ChartGrid)),
            "type": "line",
            "smooth": true,
            "lineStyle": {
                "width": 3,
                "color": "#000"
            },
            "showSymbol": false
        }, {
            "data": @Html.Raw(JsonSerializer.Serialize(Model.ChartBatterySoc)),
            "type": "line",
            "smooth": true,
            "yAxisIndex": 1,
            "lineStyle": {
                "width": 2,
                "color": "#aaa"
            },
            "showSymbol": false
        }]
    }
    echarts.init(document.getElementById("productionChart")).setOption(options);
</script>
