@using Adliance.Buddy.DateTime
@using SaxxPv.Web.Controllers
@model SaxxPv.Web.ViewModels.Home.MonthViewModel

<table style="width:100%; margin-top:1rem; margin-bottom:1rem;">
    <thead>
    <tr>
        <th>Day</th>
        <th style="text-align:right; width:85px;">Used</th>
        <th style="text-align:right; width:85px;">Sold</th>
        <th style="text-align:right; width:85px;">Bought</th>
        <th style="text-align:right; width:145px;">Battery</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var d in Model.Days)
    {
        <tr>
            <td title="Total Import: @d.TotalImport?.ToString("N1")kWh, Total Export: @d.TotalExport?.ToString("N1")kWh">
                <a asp-action="@nameof(HomeController.Day)" asp-route-day="@d.DateTime.ToString("yyyy-MM-dd")" title="@d.DataPoints readings">
                    @d.DateTime.ToString("dddd, dd.MM.")
                </a>
            </td>
            <td style="text-align:right;">@(d.Consumption.ToString("N1"))</td>
            <td style="text-align:right;">@(d.Sold.ToString("N1"))</td>
            <td style="text-align:right;">@(d.Bought.ToString("N1"))</td>
            <td style="text-align:right;">
                @if (d.BatterySocMin > 0 || d.BatterySocMax > 0)
                {
                    <text>
                        @(d.BatterySocMin.ToString("N0"))-@(d.BatterySocMax.ToString("N0")) %
                    </text>
                }

                @if (d is { BatteryCharge: not null, BatteryDischarge: not null })
                {
                    <text>
                        @("+" + d.BatteryCharge.Value.ToString("N1") + "/-" + d.BatteryDischarge.Value.ToString("N1"))
                    </text>
                }
            </td>
        </tr>
    }
    </tbody>

    <tfoot>
    <tr>
        <td></td>
        <td style="text-align:right; font-weight: bold;">@(Model.Days.Sum(x => x.Consumption).ToString("N1"))</td>
        <td style="text-align:right;font-weight: bold;">@(Model.Days.Sum(x => x.Sold).ToString("N1"))</td>
        <td style="text-align:right;font-weight: bold;">@(Model.Days.Sum(x => x.Bought).ToString("N1"))</td>
        <td style="text-align:right;font-weight: bold;">@(Model.Days.Sum(x => x.Price).ToString("N2")) €</td>
    </tr>
    </tfoot>
</table>
